<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="HostName" value="192.168.178.144"/>
    <add key="Port" value="5672"/>
    <add key="UserName" value="MrSmith"/>
    <add key="Password" value="MsSmith"/>
    <add key="VirtualHost" value="/"/>
  </appSettings>
</configuration>