<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="HostName" value="localhost"/>
      <add key="Port" value="5672"/>
      <add key="UserName" value="guest"/>
      <add key="Password" value="guest"/>
      <add key="VirtualHost" value="/"/>
    </appSettings>
</configuration>